:root {
  --font-family: Inter, sans-serif;
  --accent: #d3e7fe;
  --base: #eeeeee;
  --section: #ffffff;
  --card: #f8f8f8;
  --sub-section: #f8f9fa;

  --gap-sm: 0.5rem;
  --gap: 10px;
  --gap-lg: 1.5rem;

  --radius: 8px;

  --text: #202020;
  --icon-brightness: 0.176;
}

body {
  width: 100vw;
  height: 100dvh;
  box-sizing: border-box;

  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--gap);
  padding: var(--gap);
  margin: 0;

  font-family: var(--font-family);
  font-size: 20px;
  background-color: var(--base);
  color: var(--text);
}

.panel {
  background: var(--section);
  border-radius: var(--radius);
  overflow: hidden;
}

/* Sidebar */
#sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--gap-sm);
  padding: var(--gap-sm);
  width: 64px;
}

.sidebar-spacer {
  flex-grow: 1;
}

.sidebar-item {
  display: flex;

  align-items: center;
  gap: 20px;
  padding: var(--gap-sm);
  border-radius: var(--radius);
}

.sidebar-item.active {
  background: var(--accent);
}

.sidebar-item > img {
  width: 3rem;
  height: 3rem;
}

.sidebar-item > img {
  filter: invert(var(--icon-brightness));
}

/* Filters */
.filters {
  display: flex;
  flex-direction: column;
}

#search {
  width: 100%;
}

/* Results Table */
#inventory {
  display: grid;
  grid-template-columns: auto 1fr;

  gap: var(--gap-sm);
  padding: var(--gap-sm);
}

#inventory > .results {
  display: grid;
  grid-template-rows: 1fr auto;

}

#results-footer {
  display: flex;
  justify-content: space-between;
  gap: var(--gap-lg);
}

table {
  width: 100%;
  height: fit-content;
  text-align: left;
  border-collapse: collapse;
}

td,
th {
  padding: var(--gap-sm);
  overflow: hidden;
}

tr > th {
  background: var(--accent);
  font-weight: 400;
}

tr {
  height: 3rem;
}

tr:nth-child(even) > td {
  background: var(--card);
}

tr > td:first-child,
tr > th:first-child {
  border-radius: 10px 0 0 10px;
}

tr > td:last-child,
tr > th:last-child {
  border-radius: 0 10px 10px 0;
}

/* Add Item Popup */
.popup-background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  display: grid;
  visibility: hidden;
  place-items: center;

  background: #000000a0;
}

.popup {
  background: var(--section);
  padding: var(--gap);
  border-radius: var(--radius);
}

.popup-header {
  display: flex;
  justify-content: space-between;
  padding: var(--gap);
}

h2 {
  margin: 0;
}

.popup-body > form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  border-radius: var(--radius);
}

.form-group {
  display: flex;
  gap: var(--gap-sm);
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: var(--radius);
}

.form-group:has(input[type="range"]) {
  flex-direction: column;
}

.submit {
  grid-column: span 2;
}

input {
  padding: var(--gap-sm);
  border-radius: var(--radius);
  background: var(--card);
  border: none;
}

button {
  background: var(--card);
  border-radius: var(--radius);
  padding: var(--gap-sm);
  border: none;
}

button.primary {
  background: var(--accent);
}
