<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon-light.ico') }}"
      type="image/x-icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon-dark.ico') }}"
      type="image/x-icon"
      media="(prefers-color-scheme: dark)"
    />
    <title>Users</title>
  </head>
  <body>
    <script src="{{ url_for('static', filename='/scripts/users.js') }}" defer></script>

    <!-- Nav Bar -->
    <nav id="sidebar" class="panel">
      <a class="sidebar-item" href="/inventory">
        <img
          class="sidebar-icon"
          src="{{ url_for('static', filename='icons/inventory.svg') }}"
          alt="inventory-icon"
        />
      </a>
      <a class="sidebar-item active" href="./users">
        <img
          class="sidebar-icon"
          src="{{ url_for('static', filename='icons/people.svg') }}"
          alt="activity-icon"
        />
      </a>
      <div class="sidebar-spacer"></div>
      <a class="sidebar-item" href="./settings.html">
        <img
          class="sidebar-icon"
          src="{{ url_for('static', filename='icons/settings.svg') }}"
          alt="settings-icon"
        />
      </a>
    </nav>

    <!-- Users Table -->
    <main id="users" class="panel" style="grid-template-columns: auto">
      <div class="results">
        <div class="results-controls">
          <button id="add-user-button">Add +</button>
          <button>
            <img
              style="width: 2rem; height: 1.2rem"
              src="{{ url_for('static', filename='icons/menu.svg') }}"
              alt="Results Menu Icon"
            />
          </button>
        </div>
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>email</th>
                <th>Password</th>
                <th>Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </main>

    <!-- Add Popup -->
    <div id="add-popup" class="popup-background">
      <div class="popup" class="panel">
        <div class="popup-header">
          <h2>Add User</h2>
          <button class="close">X</button>
        </div>
        <div class="popup-body">
          <form id="add-user-form" action="">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                placeholder="User Name"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                id="password"
                placeholder="12345678"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                placeholder="email@email.com"
                required
              />
            </div>

            <div class="form-group">
              <label for="role">Role</label>
              <select id="role" required>
                <option value="guest">Guest</option>
                <option value="employee">Employee</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <button
              type="submit"
              style="grid-column: span 2"
              class="submit primary"
            >
              Add User
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- Edit Popup -->
    <div id="edit-popup" class="popup-background">
      <div class="popup" class="panel">
        <div class="popup-header">
          <h2>Edit User</h2>
          <button class="close">X</button>
        </div>
        <div class="popup-body">
          <form action="">
            <div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                placeholder="User Name"
                required
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="text"
                id="password"
                placeholder="12345678"
                required
              />
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="text"
                id="email"
                placeholder="email@email.com"
                required
              />
            </div>

            <div class="form-group">
              <label for="role">Role</label>
              <select id="role" required>
                <option value="guest">Guest</option>
                <option value="employee">Employee</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
              </select>
            </div>
            <!-- We may want to move this later so it doesn't get clicked accidentally -->
            <button type="reset" class="close">Cancel</button>
            <button type="submit" class="submit primary">Apply Changes</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
